
bin
obj
TestResults
*.suo
*.user
/TalesOfVesperiaUtils/_ReSharper.TalesOfVesperiaUtils
/Misc/dxt/stb_dxt.c
/Sandbox/lzx/*.o
/Sandbox/lzx/*.obj
/Sandbox/lzx/*.a
/Sandbox/lzx/*.exe
/Sandbox/lzx_compress/*.o
/Sandbox/lzx_compress/*.obj
/Sandbox/lzx_compress/*.a
/Sandbox/lzx_compress/*.exe
/TalesOfVesperiaUtils/*.psess
/Sandbox/chat_img/images
/Sandbox/all_img/images
/PatchData.zip
/PatchData.zip.lzma
/TalesOfVesperiaFrontendWPF.exe
/*.pdb
